<header class="bannerAffiliates">
	<div class="bannerAffiliates__content">
		<p class="bannerAffiliates__content-title">Únete a CasinoBarcelona.es</p>
		<p class="bannerAffiliates__content-subtitle">Ya son más de 10 años proporcionando a nuestros clientes una
            oferta única e innovadora. Casino Barcelona es uno de los Casinos más prestigiosos de Europa, líder en su
            sector y capaz de ofrecer un ambiente de juego único en varios productos.</p>
	</div>
</header>
