<section class="bannerLandingA">
    <div class="bannerLandingA__wrapper">
        <p class="bannerLandingA__wrapper-title">¡Regístrate y disfruta!</p>
        <p class="bannerLandingA__wrapper-subtitle">Esto no es un Casino cualquiera</p>
        <button class="btn__red btn__red--glow bannerLandingA__wrapper-btn">
            <span>REGÍSTRATE AQUÍ</span>
            <img src="img/icons/icon-btn-arrow.svg" alt="">
        </button>
    </div>
</section>