<section class="blockPromo">

    <div class="blockPromo__wrapper">
        <div class="blockPromo__bg">
            <div class="image">
                <img src="img/images/img-block-promo.png" alt="">
                <div class="blockPromo__gradient"></div>
            </div>
        </div>
        <div class="blockPromo__title">
            <img class="blockPromo__title-badge" src="img/icons/icon-header-promo.svg" alt="">
            <p>La estela del Campeón</p>
            <div class="blockPromo__title-bcrumbs">
                <%- include ('../components/breadcrumb', { bc: bc }) %>
            </div>
        </div>
        <div class="blockPromo__features">
            <div class="blockPromo__features-item">
                <img src="img/icons/icon-seven-red.svg" alt="">
                <span>Casino</span>
            </div>
            <div class="blockPromo__features-item">
                <img src="img/icons/icon-badge-red.svg" alt="">
                <span>100 Tiradas Extra y Bono de 50€</span>
            </div>
            <div class="blockPromo__features-item">
                <img src="img/icons/icon-calendar-red.svg" alt="">
                <span>Durante 5 días</span>
            </div>
        </div>
        <a href="" class="btn__red btn__red--glow blockPromo__cta">
            <span>¡APUNTARME!</span>
            <img src="img/icons/icon-round-arrow.svg" alt="">
        </a>
        <div class="blockPromo__table">
            <div class="blockPromo__table-row">
                <p class="title">Código Promocional</p>
                <p class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque convallis velit eu tellus
                    pellentesque, a gravida neque tincidunt. Duis mattis quam nec quam mattis ullamcorper. Duis finibus
                    turpis ornare lorem iaculis, eget maximus velit viverra. In hac habitasse platea dictumst. Sed
                    sodales.
                </p>
            </div>
            <div class="blockPromo__table-row">
                <p class="title">Periodo Válido</p>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="blockPromo__table-row">
                <p class="title">Fecha de inicio de promoción</p>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque convallis velit
                    eu tellus pellentesque, a gravida neque tincidunt. Duis mattis quam nec quam mattis</p>
            </div>
            <div class="blockPromo__table-row">
                <p class="title">Fecha de final de promoción</p>
                <p class="content">Lorem ipsum dolor sit amet</p>
            </div>
            <div class="blockPromo__table-row">
                <p class="title">Condiciones adicionales</p>
                <p class="content">Lorem ipsum</p>
            </div>
            <div class="blockPromo__table-row">
                <p class="title">Apuesta mínima</p>
                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque convallis velit
                    eu tellus pellentesque, a gravida neque tincidunt. Duis mattis quam nec quam mattis ullamcorper.
                    Duis finibus turpis ornare lorem iaculis, eget maximus velit viverra. In hac habitasse platea
                    dictumst. Sed sodales, mauris a fringilla ultricies.</p>
            </div>
            <div class="blockPromo__table-row">
                <p class="title">Evento</p>
                <p class="content">Lorem</p>
            </div>
        </div>
        <div class="blockPromo__tc">
            <p>¿Sabías que desde la estación de nuestro Casino sale cada día un tren que enrtega Recargas a Alta
                Velocidad?
                Si tú también quieres aprovechar estas Recargas exclusivas, que van desde un 25% hasta un 100% de tu
                depósito, apúntate en esta página y obtendrás Bonos de Casino cargados de amperios.
            </p>
            <ul>
                <li><strong>Pulsa el botón de 'Bonos y Saldo'</strong> para acceder al apartado Bonos y Saldo.</li>
                <li><strong>Desde allí podrás ver un código. Introdúcelo y recibirás un Bono de Casino de 20€</strong>.
                </li>
                <li>Deposita 10€ o más y obtén un <strong>Bono de Casino del 200% hasta 200€</strong></li>
            </ul>
            <p>Sigue estos pasos:
            </p>
            <p>Apúntate a esta promoción.
                Uno de nuestros gestores contactará contigo para ofrecerte una gran recarga.
                Disfruta de Bonos de Casino de cualquier forma y tamaño, ¡hasta el 100% de tu depósito!
                ¡Ten a mano tu equipaje y aprovecha estos Bonos para llegar más lejos con tus depósitos!</p>

            <hr>
            <div class="container">
                <div class="row">
                    <h3 class="text-center">¡Apúntate a las Recargas más especiales!</h3>
                    <div class="promostil1 caducada col-sm-4 col-xs-12 col-sm-offset-4"><a
                            href="/promociones/recargas-alta-velocidad.html" target="_blank"><img class="promostil2"
                                src="https://www.casinobarcelona.es/img/promociones/2021/TrenVIPrecarga-promo_banner_mobile.jpg"></a>
                    </div>
                </div>
            </div>
            <hr />
            <h3>VALOR EN PUNTOS Y RANGOS</h3>
            <p>A continuaci&oacute;n, encontrar&aacute;s la distribuci&oacute;n detallada por cada rango y el valor en
                puntos
                que acumular&aacute;s por cada torneo Twister en el que participes:</p>
            <div class="table__wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Buy-in</th>
                            <th>Rango</th>
                            <th>Puntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Twister 1&euro;</td>
                            <td>Bajo</td>
                            <td>0,0595</td>
                        </tr>
                        <tr>
                            <td>Twister 2&euro;</td>
                            <td>Bajo</td>
                            <td>0,105</td>
                        </tr>
                        <tr>
                            <td>Twister 5&euro;</td>
                            <td>Mediano</td>
                            <td>0,2625</td>
                        </tr>
                        <tr>
                            <td>Twister 10&euro;</td>
                            <td>Mediano</td>
                            <td>0,525</td>
                        </tr>
                        <tr>
                            <td>Twister 20&euro;</td>
                            <td>Alto</td>
                            <td>1,05</td>
                        </tr>
                        <tr>
                            <td>Twister 50&euro;</td>
                            <td>Alto</td>
                            <td>2,625</td>
                        </tr>
                        <tr>
                            <td>Twister 100&euro;</td>
                            <td>Alto</td>
                            <td>5,25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr />
            <h3>TABLA DE PREMIOS</h3>
            <p>Repartimos Tickets para torneos entre todos los jugadores con m&aacute;s puntos:</p>

            <div class="table__wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Posici&oacute;n</th>
                            <th>Rango Bajo</th>
                            <th>Rango Medio</th>
                            <th>Rango Alto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>7 Tickets de 2&euro; + 1 Ticket de 1&euro;</td>
                            <td>6 Tickets de 10&euro;</td>
                            <td>5 Tickets de 50&euro;</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>5 Tickets de 2&euro;</td>
                            <td>4 Tickets de 10&euro;</td>
                            <td>3 Tickets de 50&euro;</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>4 Tickets de 2&euro;</td>
                            <td>3 Tickets de 10&euro; + 1 Ticket de 5&euro;</td>
                            <td>1 Ticket de 50&euro; + 3 Tickets de 20&euro;</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>2 Tickets de 2&euro; + 1 Ticket de 1&euro;</td>
                            <td>3 Tickets de 10&euro;</td>
                            <td>1 Ticket de 50&euro; + 1 Ticket de 20&euro;</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>2 Tickets de 2&euro; + 1 Ticket de 1&euro;</td>
                            <td>2 Tickets de 10&euro; + 1 Ticket de 5&euro;</td>
                            <td>1 Ticket de 50&euro;</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>2 Tickets de 2&euro; + 1 Ticket de 1&euro;</td>
                            <td>2 Tickets de 10&euro;</td>
                            <td>1 Ticket de 50&euro;</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>2 Tickets de 2&euro; + 1 Ticket de 1&euro;</td>
                            <td>1 Ticket de 10&euro; + 1 Ticket de 5&euro;</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>2 Tickets de 2&euro; + 1 Ticket de 1&euro;</td>
                            <td>1 Ticket de 10&euro;</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>1 Ticket de 2&euro;</td>
                            <td>1 Ticket de 10&euro;</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>1 Ticket de 2&euro;</td>
                            <td>1 Ticket de 10&euro;</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>1 Ticket de 2&euro;</td>
                            <td>1 Ticket de 10&euro;</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>1 Ticket de 2&euro;</td>
                            <td>1 Ticket de 10&euro;</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>1 Ticket de 2&euro;</td>
                            <td>1 Ticket de 10&euro;</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>1 Ticket de 1&euro;</td>
                            <td>1 Ticket de 10&euro;</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>1 Ticket de 1&euro;</td>
                            <td>1 Ticket de 10&euro;</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>