<section class="pokerSatelitesCEP__tables">
	<div class="pokerSatelitesCEP__tables-inner">
		<div class="pokerSatelitesCEP__tables-title">FREEROLLS</div>
		<section class="pokerTable">
			<div class="pokerTable__subtitle">
				<span>Satélite 0€</span>
			</div>
			<div class="pokerTable__wrapper">
				<table class="table" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th scope="col" class="table__head">DIA</th>
							<th scope="col" class="table__head">HORA</th>
							<th scope="col" class="spacer"></th>
							<th scope="col" class="table__head option__heading">SATÉLITE</th>
							<th scope="col" class="table__head">ENTRADA GARANTIZADA SATÉLITE FINAL</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Lunes</th>
							<td>20:30h</td>
							<td class="spacer"></td>
							<td class="option__price">Freeroll</td>
							<td>5 plazas para el step 2</td>
						</tr>
						<tr>
							<th scope="row">Martes</th>
							<td>20:30h</td>
							<td class="spacer"></td>
							<td class="option__price">Freeroll</td>
							<td>5 plazas para el step 2</td>
						</tr>
						<tr>
							<th scope="row">Miércoles</th>
							<td>18:00h</td>
							<td class="spacer"></td>
							<td class="option__price">Freeroll</td>
							<td>5 plazas para el step 2</td>
						</tr>
						<tr>
							<th scope="row">Viernes</th>
							<td>20:30h</td>
							<td class="spacer"></td>
							<td class="option__price">Freeroll</td>
							<td>5 plazas para el step 2</td>
						</tr>
						<tr>
							<th scope="row">Sábado</th>
							<td>18:00h</td>
							<td class="spacer"></td>
							<td class="option__price">Freeroll</td>
							<td>5 plazas para el step 2</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		
		<div class="pokerSatelitesCEP__tables-title">STEP #2</div>
		<section class="pokerTable">
			<div class="pokerTable__subtitle">
				<span>Satélite 4,40€</span>
			</div>
			<div class="pokerTable__wrapper">
				<table class="table" cellspacing="0" cellpadding="0">
					<thead>
						<tr>
							<th scope="col" class="table__head">DIA</th>
							<th scope="col" class="table__head">HORA</th>
							<th scope="col" class="spacer"></th>
							<th scope="col" class="table__head option__heading">SATÉLITE</th>
							<th scope="col" class="table__head">ENTRADA GARANTIZADA SATÉLITE FINAL</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Miércoles</th>
							<td>20:30h</td>
							<td class="spacer"></td>
							<td class="option__price">4€+0,40€</td>
							<td>3 plazas para el satélite final</td>
						</tr>
						<tr>
							<th scope="row">Jueves</th>
							<td>17:30h</td>
							<td class="spacer"></td>
							<td class="option__price">4€+0,40€</td>
							<td>3 plazas para el satélite final</td>
						</tr>
						<tr>
							<th scope="row">Sábado</th>
							<td>20:30h</td>
							<td class="spacer"></td>
							<td class="option__price">4€+0,40€</td>
							<td>3 plazas para el satélite final</td>
						</tr>
						<tr>
							<th scope="row">Domingo</th>
							<td>17:00h</td>
							<td class="spacer"></td>
							<td class="option__price">4€+0,40€</td>
							<td>3 plazas para el satélite final</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<div class="pokerSatelitesCEP__tables-title">SATÉLITE FINAL</div>
			<div class="tableBig">
				<div class="tableBig__wrapper">
					<div class="tableBig__table">
					   <div class="tableBig__row">
							<span>Satélite Final</span>
							<span>Jueves&nbsp; 20:30h</span>
							<span ></span>
							<span>40€+4€</span>
							<span>2 Plazas para la LÑP</span>
						</div>
						<div class="tableBig__row">
							<span>Satélite Final</span>
							<span>Domingo&nbsp; 20:30h</span>
							<span ></span>
							<span>40€+4€</span>
							<span>2 Plazas para la LÑP</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	
