<section class="pokerSatelitesCEP__tables">
	<div class="pokerSatelitesCEP__tables-inner">
		<section class="pokerTable">
			<div class="pokerTable__title">Freeroll</div>
			<div class="pokerTable__subtitle">
				<span>Satélite 0€</span>
			</div>
			<div class="pokerTable__wrapper">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">DIA</th>
							<th scope="col">HORA</th>
							<th scope="col">BUY-IN</th>
							<th scope="col">GARANTIZADO</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Lunes</th>
							<td>20:30h</td>
							<td>Freeroll</td>
							<td>5 plazas para el step 2</td>
						</tr>
						<tr>
							<th scope="row">Martes</th>
							<td>20:30h</td>
							<td>Freeroll</td>
							<td>5 plazas para el step 2</td>
						</tr>
						<tr>
							<th scope="row">Miércoles</th>
							<td>18:00h</td>
							<td>Freeroll</td>
							<td>5 plazas para el step 2</td>
						</tr>
						<tr>
							<th scope="row">Viernes</th>
							<td>20:30h</td>
							<td>Freeroll</td>
							<td>5 plazas para el step 2</td>
						</tr>
						<tr>
							<th scope="row">Sábado</th>
							<td>18:00h</td>
							<td>Freeroll</td>
							<td>5 plazas para el step 2</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<!-- <div class="pokerSatelitesCEP__tables-title">Step 1</div>
		<div class="table">
			<div class="table__title">
				<span>Satélite</span>
				<span>3,30€</span>
			</div>
			<div class="table__wrapper">
				<div class="table__table">
					<div class="table__header">
						<span>Día</span>
						<span>Hora</span>
						<span>Opción 1</span>
						<span>Opción 2 (Entrada Gtd a la final)</span>
					</div>
					<div class="table__row">
						<span>Lunes</span>
						<span>21:00h</span>
						<span>3,30€</span>
						<span>33€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Martes</span>
						<span>21:00h</span>
						<span>3,30€</span>
						<span>33€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Miércoles</span>
						<span>21:00h</span>
						<span>3,30€</span>
						<span>33€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Jueves</span>
						<span>19:00h</span>
						<span>3,30€</span>
						<span>33€ (con Rebuys y add-on)</span>
					</div>
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table__title">
				<span>Satélite</span>
				<span>4,40€</span>
			</div>
			<div class="table__wrapper">
				<div class="table__table">
					<div class="table__header">
						<span>Día</span>
						<span>Hora</span>
						<span>Opción 1</span>
						<span>Opción 2 (Entrada Gtd a la final)</span>
					</div>
					<div class="table__row">
						<span>Viernes</span>
						<span>22:00h</span>
						<span>4,40€</span>
						<span>44€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Sábado</span>
						<span>22:00h</span>
						<span>4,40€</span>
						<span>44€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Domingo</span>
						<span>18:00h</span>
						<span>4,40€</span>
						<span>44€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Domingo</span>
						<span>22:00h</span>
						<span>4,40€</span>
						<span>44€ (con Rebuys y add-on)</span>
					</div>
				</div>
			</div>
		</div>

		<div class="table">
			<div class="table__title">
				<span>Satélite</span>
				<span>5,50€</span>
			</div>
			<div class="table__wrapper">
				<div class="table__table">
					<div class="table__header">
						<span>Día</span>
						<span>Hora</span>
						<span>Opción 1</span>
						<span>Opción 2 (Entrada Gtd a la final)</span>
					</div>
					<div class="table__row">
						<span>Viernes</span>
						<span>21:00h</span>
						<span>5,50€</span>
						<span>55€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Sábado</span>
						<span>21:00h</span>
						<span>5,50€</span>
						<span>55€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Domingo</span>
						<span>17:00h</span>
						<span>5,50€</span>
						<span>55€ (con Rebuys y add-on)</span>
					</div>
					<div class="table__row">
						<span>Domingo</span>
						<span>19:00h</span>
						<span>5,50€</span>
						<span>55€ (con Rebuys y add-on)</span>
					</div>
				</div>
			</div>
		</div>

		<div class="pokerSatelitesCEP__tables-title">Step 2</div>

		<div class="tableBig">
			<div class="tableBig__wrapper">
				<div class="tableBig__table">
					<div class="tableBig__row">
						<span>Satélite Final</span>
						<span>Jueves</span>
						<span>21:00h</span>
						<span>33€</span>
						<span>Entrada CEP 2022 (con rebuys y add-on)</span>
					</div>
					<div class="tableBig__row">
						<span>Satélite Final</span>
						<span>Domingo</span>
						<span>22:00h</span>
						<span>44€</span>
						<span>Entrada CEP 2022 (con rebuys y add-on)</span>
					</div>
					<div class="tableBig__row">
						<span>Satélite Final</span>
						<span>Domingo</span>
						<span>21:00h</span>
						<span>55€</span>
						<span>Entrada CEP 2022 (con rebuys y add-on)</span>
					</div>
				</div>
			</div>
		</div> -->

