<section class="generic">
    <div class="table__wrapper">
        <h3>Estructuras de RAKE</h3>
        <table class="table" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th scope="col">Stake</th>
                    <th scope="col">Ciegas</th>
                    <th scope="col">Num. de Jugadores</th>
                    <th scope="col">% de Rake</th>
                    <th scope="col">Tipo de Collection</th>
                    <th scope="col">Cap en €</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">NL2</th>
                    <td>0.01€/0.02€</td>
                    <td>2</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>0.75</td>
                </tr>
                <tr>
                    <th scope="row">NL2</th>
                    <td>0.01€/0.02€</td>
                    <td>3 o 4</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">NL2</th>
                    <td>0.01€/0.02€</td>
                    <td>5 o más</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">NL5</th>
                    <td>0.02€/0.05€</td>
                    <td>2</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>0.75</td>
                </tr>
                <tr>
                    <th scope="row">NL5</th>
                    <td>0.02€/0.05€</td>
                    <td>3 o 4</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">NL5</th>
                    <td>0.02€/0.05€</td>
                    <td>5 o más</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">NL10</th>
                    <td>0.05€/0.10€</td>
                    <td>2</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th scope="row">NL10</th>
                    <td>0.05€/0.10€</td>
                    <td>3 o 4</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>1.5</td>
                </tr>
                <tr>
                    <th scope="row">NL10</th>
                    <td>0.05€/0.10€</td>
                    <td>5 o más</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>2.5</td>
                </tr>
                <tr>
                    <th scope="row">NL25</th>
                    <td>0.12€/0.25€</td>
                    <td>2</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>1.5</td>
                </tr>
                <tr>
                    <th scope="row">NL25</th>
                    <td>0.12€/0.25€</td>
                    <td>3 o 4</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">NL25</th>
                    <td>0.12€/0.25€</td>
                    <td>5 o más</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>3</td>
                </tr><tr>
                    <th scope="row">NL50</th>
                    <td>0.25€/0.50€</td>
                    <td>2</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>1.5</td>
                </tr>
                <tr>
                    <th scope="row">NL50</th>
                    <td>0.25€/0.50€</td>
                    <td>3 o 4</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">NL50</th>
                    <td>0.25€/0.50€</td>
                    <td>5 o más</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>3</td>
                </tr><tr>
                    <th scope="row">NL100+</th>
                    <td>1€/2€ 2,5€/5€ 5€/10€</td>
                    <td>2</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>1.5</td>
                </tr>
                <tr>
                    <th scope="row">NL100+</th>
                    <td>1€/2€ 2,5€/5€ 5€/10€</td>
                    <td>3 o 4</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>2.5</td>
                </tr>
                <tr>
                    <th scope="row">NL100+</th>
                    <td>1€/2€ 2,5€/5€ 5€/10€</td>
                    <td>5 o más</td>
                    <td>6.67%</td>
                    <td>1 cent por cada 15 cent</td>
                    <td>3.5</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>          

