<section class="pokerHowAccord">
    <div class="pokerHowAccord__header">
        <p class="pokerHowAccord__title">Cash o Torneo</p>
        <p class="pokerHowAccord__subtitle">Todas las disciplinas presentadas hasta el momento pueden jugarse en dos modalidades:</p>
    </div>
    <div class="pokerHowAccord__accordion">
        <div class="pokerHowAccord__accordion-item" data-accordion>
            <div class="head" data-accordion-trigger>
                <p>Cash</p>
                <img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow">
            </div>
            <div class="body" data-accordion-content>
                <div class="body__wrapper">
                    <p>Partidas por dinero real, donde los jugadores pueden retirarse del juego en cualquier momento o recargar su pila
                         de fichas cuando lo deseen siempre que ésta no llegue al máximo de la mesa, y la recarga será efectiva para la 
                         siguiente mano en curso. En esta modalidad las ciegas permanecen estables durante toda la partida.
                    </p>
                </div>
            </div>
        </div>
        <div class="pokerHowAccord__accordion-item" data-accordion>
            <div class="head" data-accordion-trigger>
                <p>Torneo</p>
                <img src="img/icons/icon-arrow-accor.svg" alt="" class="accorArrow">
            </div>
            <div class="body" data-accordion-content>
                <div class="body__wrapper">
                    <section>
                        <div class="table__wrapper">
                            <p class="table__title">Tabla de probabilidades en los twister</p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="table__head">Multiplicador</th>
                                        <th scope="col" class="table__head">Probabilidad</th>
                                        <th scope="col" class="table__head">Por 100.000 twisters</th>
                                        <th scope="col" class="table__head">Reparto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1000</th>
                                        <td>0.0010%</td>
                                        <td>1</td>
                                        <td>75%-15%-10%</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">200</th>
                                        <td>0.0030%</td>
                                        <td>3</td>
                                        <td>75%-15%-10%</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">100</th>
                                        <td>0.0100%</td>
                                        <td>10</td>
                                        <td>75%-15%-10%</td>
                                    </tr>
                                     <tr>
                                        <th scope="row">20</th>
                                        <td>0.0500%</td>
                                        <td>50</td>
                                         <td>75%-15%-10%</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>0.3000%</td>
                                        <td>300</td>
                                        <td>75%-15%-10%</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>3.0000%</td>
                                        <td>3000</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>13.0000%</td>
                                        <td>13000</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>38.1280%</td>
                                        <td>38128</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>45.5080%</td>
                                        <td>45508</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Total</th>
                                        <td>100.0000%</td>
                                        <td>100.000</td>
                                        <td></td>
                                    </tr>
                               </tbody>
                            </table>
                        </div>
                    </section>
                    <div>
                        <p>En esta disciplina las pilas de los jugadores se componen de unos puntos determinados que no tienen valor monetario real. 
                            El objetivo de los jugadores de un torneo es conseguir reunir la totalidad de los puntos en juego. Los torneos se dividen 
                            en niveles de juego con una duración preestablecida. El tamaño de las apuestas obligadas (ciegas y antes cuando corresponda)
                             va aumentando en cada nivel de cara a fomentar la confrontación de los jugadores. En función del número de participantes se 
                             establecerá un número determinado de posiciones premiadas, a cada una de ellas le corresponderá un porcentaje específico del fondo de premios.</p>
                        <br>
                        <p>Dentro de torneos podemos diferenciar entre:</p>
                        <br>
                        <p><strong>Sit &amp; Go</strong></p>
                        <p>Torneos de un número de jugadores determinado que empiezan cuando se completa el registro de los mismos. Aunque lo habitual es 
                            que sean de una sola mesa, existen Sits de varias mesas.</p>
                        <br>
                        <p><strong>Torneos de varias mesas (Torneos programados o MTTs)</strong></p>
                        <p>Este tipo de torneo tiene una hora prevista de inicio y llegada esa hora se inicia el torneo con independencia del número de 
                            jugadores inscritos (si se alcanza el mínimo estipulado). Es frecuente que se permita durante los primeros compases del torneo 
                            el registro tardío de nuevos jugadores.</p>
                        <p>A su vez los Sit &amp; Go y torneos de varias mesas en función de sus particularidades se dividen en:</p>
                        <br>
                        <p><strong>Normal (Freezeout)</strong></p>
                        <p>Efectuamos la compra de la inscripción o buy in, cuyo importe engrosará el pozo de premios. Desde el inicio del torneo el 
                            objetivo es que los jugadores se vayan eliminando a medida que van perdiendo su pila de fichas hasta que el último se proclame 
                            vencedor. En este tipo de torneos las mesas se van equilibrando a medida que van cayendo eliminados los participantes para que
                             todas tengan el mismo número de jugadores.</p>
                        <br>
                        <p><strong>Botín</strong></p>
                        <p>La peculiaridad de este torneo es que parte de la cuota de entrada va destinada a premio para el jugador que nos elimine, 
                            mientras que el resto va al fondo de premios a repartir entre los jugadores mejor clasificados.</p>
                        <br>
                        <p><strong>Recompra</strong></p>
                        <p>En estos torneos se permite al jugador recomprar su pila de fichas durante un número determinado de niveles si cae eliminado
                             o si su pila de fichas es inferior o igual al inicial, una vez finalizado el periodo de recompras estos torneos se desarrollan de forma normal.</p>
                        <br>
                        <p><strong>Garantizado</strong></p>
                        <p>Independientemente de la modalidad del torneo, éste puede ser garantizado o no. Los torneos garantizados aseguran un pozo 
                            de premios mínimo con independencia del número de jugadores registrados.</p>
                        <br>
                        <p><strong>Shootout</strong></p>
                        <p>Estos torneos se juegan de forma independiente en cada mesa, pasando el jugador ganador de cada mesa a la siguiente 
                            fase del torneo donde habrá una nueva mesa con los ganadores de otras.</p>
                        <br>
                        <p><strong>Satélite</strong></p>
                        <p>En esta modalidad de torneo los premios en vez de ser monetarios, son plazas para torneos con una cuota de entrada mayor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>