@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


.promo__navbar {
  
  margin: $sm 0 $md;
  display: flex;
  justify-content: space-between;

  overflow-x: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: $sm;
 
  
  @include tablet-h {
    overflow-x: inherit;
    justify-content: center;
  }
  
  &--item {
    padding: $sm;
    background-color: setcolor("black");
    cursor: pointer;
    margin: 0 rem(2);
    
    @extend .u-f--bold;
    color: setcolor("gray", "dark1");
    
    
    &:hover, &.is-active {
      color: setcolor("white", "base");
      background-color: setcolor("black", "dark4");
    }
    &:first-of-type, a:first-of-type {
      border-radius: rem(5) 0 0 rem(5);
    }

    &:last-of-type, a:last-of-type {
      border-radius: 0 rem(5) rem(5) 0;
    }
 
  }
}