@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.paginator {
    display: flex;

    margin-top: rem(20);
    padding-bottom: rem(10);
    @include tablet {
        justify-content: right;
        margin-right: $lg;
    }

    @include screen-sm {
        margin-right: 0;
    }

    &__btn, &__arrow{
        @extend .u-f--bold;
        color: setcolor("secondary");
        padding: rem(12) rem(22);
        margin-left: rem(10);
        border-radius: rem(30);
        transition: all 0.4s ease;
        flex-shrink: 0;
        cursor: pointer;
        
        &:hover {
        transition: all 0.4s ease;
        color: setcolor("black", "dark1");
        }
        
        &.is-active {
            color: setcolor("black", "dark1");
        }
    }
    
    
    ul { 
        list-style: none;
        display: flex;
        padding: 0;
    }
    
    a {
        
        background-color: setcolor("gray", 'light1');
        
    }
}