@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.table__wrapper {
    overflow-x: auto;
    border-radius: rem(10);
    
    .table {
      padding: rem(10) 0;
      text-align: left;
      width: 100%;
      border: none;
      background-color: #fafafb;
      
      
         
      &__head td {
        @extend .u-f--bold;
        color: setcolor("black", "dark1"); 
        padding: rem(10);
      }
      
      th {
        padding: 0 rem(10);
        white-space: nowrap;
      }
      
      &__td {
        color: #868b92;
        padding: rem(10);
        a {
          color: setcolor("black", "dark1");
        }
      }

      tbody {
        tr:nth-child(odd) {
          td, th {background-color: #f4f6f7;
          
        }
      }
      tr:nth-child(even) {
          td, th {background-color: #fafafb;
          
          }
        }
      }

      tr {
        padding: rem(20) 0;
        height: 3.5rem;
        
        th {
          color: setcolor("black", "dark1"); 
        }
      }
      
      .user__card {
        padding: 0 0 1rem;
        
      }
    }
  }