@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.blockPromo {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__gradient {
    background: linear-gradient(to right, setcolor("primary"),setcolor("primary") 20vw, transparent 73vw);
    bottom: calc(44% + 0.2vh);
    width: 100vw;
    position: absolute;
    left: 50%;
    height: 100vh;
    transform: translateX(-50%);
    z-index: -3;   

  }

  &__wrapper {
    @extend %margin_horizontal_main;
  }

  &__bg {
    margin-top: $sm;
    width: 100%;
    display: flex;
    justify-content: center;
    
    @include screen-sm {
      margin-top: $md;
    }

    .image {
      width: 100%;
      max-width: rem(600);
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.4));
      }
    }
  }

  &__cta {
    display: flex;
    margin: $md auto;
    padding: $sm;
    text-transform: uppercase;
    max-width: 300px;
  }

  &__title {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;

    &-crumbs {
      width: 100%;
    }

    &-badge {
      transform: translateY(-50%);
      width: $md;
      aspect-ratio: 1;
      margin-bottom: rem(-30);
      
      filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.4));
      
      @include mobile {
        width: $lg;
      }
    }

    h1 {
      @extend .u-f--h1, .u-f--bold;
      max-width: 80%;
      padding: $sm 0;
      margin: 0;
    }
  }

  &__features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @extend %margin_top_small;
    
    @include tablet {
      gap: $xs;
      flex-direction: row;
    }

    &-item {
      display: flex;
      align-items: center;
      padding: $xs;
      width: 100%;
      border-bottom: solid 1px setcolor("primary", "dark");
      
      &:first-child {
        border-top: solid 1px setcolor("primary", "dark");

        @include tablet {
          border-top: none;
        }
      }

      &:nth-of-type(2) {
        
        @include tablet {
          border-left: 1px solid setcolor("primary");
          border-right: 1px solid setcolor("primary");
        }
      }
      
      @include tablet {
        text-align: center;
        width: auto;
        border-bottom: none;
        padding: 0 $sm;
      }
      
      img {
        display: inline-block;
      }
      
      span {
        color: setcolor("primary");
        margin: 0;
        padding-left: rem(10);
        
        @include tablet {
          font-weight: bold;
        }
      }
    }
  }

  &__table {
    @extend %margin_top_small;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-row {
      width: 100%;
      padding: $sm;
      background-color: setcolor("black", "dark2");
      border-radius: rem(5);

      display: flex;
      flex-direction: column;

      @include screen-sm {
        flex-direction: row;
      }

      &:not(:last-of-type) {
        margin-bottom: rem(5);
      }

      .title {
        @extend .u-f--h4, .u-f--bold;
        width: 100%;
        padding-bottom: $sm;

        @include screen-sm {
          width: 50%;
          padding-bottom: 0;
        }
      }

      .content {
        width: 100%;
        color: #a4a5a8;

        @include screen-sm {
          width: 50%;
        }
      }
    }
  }

  &__tc {
    @extend %margin_top_small;

    font-size: 1rem;

    p, li {
      color: setcolor("gray", "dark1");
    }
    
    p {
      padding-bottom: $xs;      
    }
  }

  // Helpers for marketing staff
  hr {
    border: solid 1px setcolor("black", "dark4");
    margin: $sm 0;
  }

  .text-center {
    text-align: center;
  }

  .caducada {
    filter: grayscale(100%);
    pointer-events: none;
  }

  .promostil1 {
    padding-bottom: 20px;
  }
  
}
