@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

// Layout

.generic {
  @extend %margin_horizontal_main, %margin_top_small;

  a, li {
    font-weight: 100;
	}
  
  p {
    padding-bottom: $sm;
    color: setcolor("gray", "dark1");
  }

  li {
    padding-bottom: $sm;
    color: setcolor("gray", "dark1");
  }

  a {
    color: setcolor("white");
    text-decoration: none;
    &:hover {
      color: setcolor("primary");
    }
  }

  &__table {
    margin-top: 0;
  }


  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .faq__accordion {
      width: -webkit-fill-available;
    }
  }
}
