@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.pokerHowInstructions {
  @extend %margin_horizontal_main, %margin_top_medium;

  .body--sm {
    color: setcolor('gray', 'mid');
    padding-bottom: $sm;
  }
  .body--md {
    @extend .u-f--bold, .u-f--h3;
    color: setcolor('gray', 'mid');
    padding-bottom: $sm;
  }

  h1 {
    @extend .u-f--bold, .u-f--h1;
  }

  &__wrapper {
    margin-bottom: $sm;
    ul {
      list-style: none;
      padding: 0;
    }
    p {
      color: setcolor('gray', 'mid');
      padding-bottom: $sm;
    }


    h2 {
      @extend .u-f--bold, .u-f--h2;
      margin-top: 0;
      margin-bottom: $sm;
    }

    h3 {
      @extend .u-f--bold, .u-f--h3;
      margin-top: 0;
      margin-bottom: rem(4);

    }
  }

  .bold {
    @extend .u-f--bold;
  }

  .red {
    color: setcolor('primary');
  }

  li {
    padding-bottom: rem(5);
  }

  &__image {
    max-width: 100%;
    height: auto;
    margin: $sm auto;
    
    @include screen-sm {
      max-width: 50%;
    }
  }
}