@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


// Layout

.textBlock {
	@extend %margin_horizontal_main, %margin_top_large;

	h1 {
		color: setcolor('white','base');
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1.4rem;
	}

	h3 {
		font-size: 1.3rem;
	}

	h4 {
		font-size: 1.2rem;
	}

	h5 {
		font-size: 1.1rem;
	}

	p {
		padding-bottom: $xs;
		color: #939598;
		font-size: 0.8rem;
	}

	a, li {
		font-weight: 100;
	}

	.title-big {
		@extend .u-f--h2;
	}

	.title {
		@extend .u-f--h3;
	}

	.bold {
		@extend .u-f--bold;
	}

	.highlight {
		color: setcolor('white','base')
	}
		
}