@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;


// Layout

.textBlock {
	@extend %margin_horizontal_main, %margin_top_large;

	h1 {
		color: setcolor('white','base')
	}

	p {
		padding-bottom: $sm;
		color: #939598;
	}

	a, li {
		font-weight: 100;
	}

	.title-big {
		@extend .u-f--h2;
	}

	.title {
		@extend .u-f--h3;
	}

	.bold {
		@extend .u-f--bold;
	}

	.highlight {
		color: setcolor('white','base')
	}
		
}