<%- include ('layout/head', {title: "Iniciar Sesión" , css: "recoverPassword" }) %>

<div class="login__block login__recover">
    <%- include ('objects/user/login-recover') %>
</div>

<%- include ('modules/mpu') %>
<%- include ('layout/scripts', { script: 'recoverPassword' , screen: 'login' })%>