<section class="promo__navbar">
    <a href="#" class="promo__navbar--item" data-filter="all" autofocus>Todos</a>
    <a href="#" class="promo__navbar--item" data-filter=".slots">Slots</a>
    <a href="#" class="promo__navbar--item" data-filter=".apuesta">Apuestas</a>
    <a href="#" class="promo__navbar--item" data-filter=".ruleta">Ruleta</a>
    <a href="#" class="promo__navbar--item" data-filter=".poker">Poker</a>
    <a href="#" class="promo__navbar--item is-active" data-filter=".deposito">Sin depósito</a>
</section>