<section class="promo__navbar">
    <a href="#" class="promo__navbar--item is-active" autofocus>Todas</a>
    <a href="#" class="promo__navbar--item" >Boonos sin depósito</a>
    <a href="#" class="promo__navbar--item" >Promociones slots</a>
    <a href="#" class="promo__navbar--item" >Promociones apuestas deportivas</a>
    <a href="#" class="promo__navbar--item" >Promociones ruleta</a>
    <a href="#" class="promo__navbar--item" >Promociones póker</a>
</section>


