<section class="promo__navbar">
    <a href="#" class="promo__navbar--item is-active" data-filter="allBlock" autofocus>Todas</a>
    <a href="#" class="promo__navbar--item" data-filter=".depositoBlock">Boonos sin depósito</a>
    <a href="#" class="promo__navbar--item" data-filter=".slotsBlock">Promociones slots</a>
    <a href="#" class="promo__navbar--item" data-filter=".apuestaBlock">Promociones apuestas deportivas</a>
    <a href="#" class="promo__navbar--item" data-filter=".ruletaBlock">Promociones ruleta</a>
    <a href="#" class="promo__navbar--item" data-filter=".pokerBlock">Promociones póker</a>
</section>


