<% const iconsArray=[ { title: "243" , subtitle: "Líneas de pago" }, { title: "5-7" , subtitle: "Rodillos" }, {
    title: "2" , subtitle: "Funciones especiales" }, { title: "96,44%" , subtitle: "Retorno al jugador" }, {
    title: "0,10€" , subtitle: "Apuesta mínima" }, { title: "20€" , subtitle: "Apuesta Máxima" }, { title: "Alta" ,
    subtitle: "Volatilidad" }, { title: "No" , subtitle: "En sala" } ] %>

<section class="iconsScreen ">
    <h1 class="iconsScreen__title aside__title">Slot Age of The Gods: Wonder Warriors</h1>
    <div class="headerScreen__breadcrumbs">
        <div class="breadcrumbs headerScreen__breadcrumbs-content">
            <a href="/">
                <span>CASINO BARCELONA</span>
            </a>
            <img src="img/icons/icon-arrow-breadcrumb.svg" alt="">
            <a href="/slots">
                <span>SLOTS</span>
            </a>
            <img src="img/icons/icon-arrow-breadcrumb.svg" alt="">
            <span class="breadcrumbs__current">FINN GOLDEN TAVERN FINN GOLDEN TAVERN</span>
        </div>
    </div>
    <div class="iconsScreen__grid">
        <% let n=1; %>
        <% iconsArray.forEach( e=> { %>
            <div class="iconsScreen__item">
                <img src="img/icons/icon-screen-icons-<%= n %>.svg" alt="">
                <p>
                    <%= e.title %>
                </p>
                <p>
                    <%= e.subtitle %>
                </p>
            </div>
            <% n++ %>
        <% }) %>
    </div>
</section>