@use "../settings" as *;
@use "../helper" as *;
@use "../tools" as *;

.deposit {
  &__block {
    width: 100%;

    @include tablet {
      width: 60%;
    }
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__grid {
    margin-top: $md;
    display: flex;
    flex-direction: column;
    gap: rem(10);
    justify-content: center;
    margin-bottom: $sm;
    width: 100%;

    @include mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
     
    }
  }

  &__item {
    background-color: white;
    border-radius: rem(5);
    padding: $md;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    img {
      max-width: rem(100);
    }
  }
}
