.password__fields {
   &--wrapper{
            display: flex;
            width: 100%;
            align-items: baseline;
            
            input[type="password"] {
                width: inherit;
            }
    
            input[type="text"] {
                width: inherit;
            }

            &.visible {
                .pwdField__icon {
                    &--edit{
                        visibility: hidden;
                    }
                    &--edit-off {
                        visibility: visible;
                    }
                }
            }

            .pwdField {
                &__icon {
                    &--edit{
                        position: relative;
                        right: 35px; 
                    }
                    &--edit-off{
                        position: relative;
                        right: 50px;
                        visibility: hidden;
                    }
                }
    
                &__button {
                    background: none;
                    width: 0;
                    display: flex;
                    align-items: center;
                }            
            }
        }
}