<section class="deposit__wrapper container container--narrow">
    <img class="deposit__logo" src="img/user/icon/icon-check-cyan.svg" alt="">
    <p class="deposit__title">¡Tu depósito se ha realizado con éxito!</p>
    <a href="/" class="btn__blue depositStep3__btn">
        <img src="img/user/icon/icon-deposit-back.svg" alt="">
        <span>SALIR</span>
    </a>
</section>
