<main class="docsVerify">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-docs.svg" alt="">
        <p>Mis Documentos</p>
    </section>
    <section class="docsVerify__content">
        <div class="docsVerify__header user__card">
            <div class="docsVerify__header-icon">
                <img src="img/user/icon/icon-docs-check-light.svg" alt="">
            </div>
            <div class="docsVerify__header-text">
                <p>Verificación automática</p>
                <p>Vamos a verificar tu cuenta en dos sencillos pasos. Sólo debes tener a mano tu DNI o NIE y en menos
                    de 5 minutos habremos terminado.</p>
            </div>
            <div class="docsVerify__header-start">
                <button class="btn__blue">
                    <span>COMENZAR</span>
                </button>
            </div>
        </div>
        <div class="docsVerify__steps" id="veridas-msg-1" data-status="success">
            <div>
                <p class="docsVerify__steps—step">1</p>
                <div class="docsVerify__steps-message">
                    <p class="title">Captura de DNI/NIE</p>
                    <p class="subtitle"></p>
                </div>
            </div>
        </div>
        <div class="docsVerify__steps" id="veridas-msg-2" data-status="loading">
            <div>
                <p class="docsVerify__steps—step">2</p>
                <div class="docsVerify__steps-message">
                    <p class="title">Captura de selfie</p>
                    <p class="subtitle"></p>
                </div>
            </div>
        </div>
        <div class="docsVerify__steps" id="veridas-msg-3" data-status="error">
            <div>
                <p class="docsVerify__steps—step">3</p>
                <div class="docsVerify__steps-message">
                    <p class="title">Validación</p>
                    <p class="subtitle"></p>
                </div>
            </div>
        </div>
        <div class="docsVerify__steps-backBtn">
            <a href="#" class="btn__white">
                <img src="img/icons/icon-arrow-black.svg" alt="">
                <span>ATRÁS</span>
            </a>
        </div>
    </section>
</main>