<section class="game">
    <div class="user__title">
        <img src="img/user/icon/icon-game-title.svg" alt="">
        <p>Juego Responsable</p>
    </div>
    <div class="game__screen">
        <p class="game__header">Juega de forma responsable y segura seleccionando unos límites de depósito acordes a tu estilo
             de vida e ingresos. Si lo necesitas, selecciona un periodo de autoexclusión y tómate un descanso del juego.</p>
        <div class="game__container user__card">
            <p class="title">Límites de Depósito</p>
            <p class="body">Aumenta o disminuye tus límites de depósito en esta sección.</p>
            <a href="/juego-responsable-limit" >
                <button class="btn__blue btn__icons btn__fontSm game__limitBtn">
                    <img src="img/user/icon/icon-game-modify-btn.svg" alt="">
                    <span>MODIFICAR</span>
                </button>
            </a>
        </div>
        <div class="game__container user__card">
            <p class="titleSm">Autoexclusión</p>
            <p class="body">Tómate un descanso. Selecciona el tiempo que desees a partir de un día. No podrás depositar ni jugar, pero podrás solicitar retiradas de saldo o consultar tu historial.</p>

            <a href="/juego-responsable-exclusion" >
                <button class="btn__white game__exclBtn">
                    <span>MODIFICAR</span>
                </button>
            </a>
        </div>
    </div>
</section>