<main class="history">
    <section class="user__title">
        <img src="img/user/icon/icon-menu-history.svg" alt="">
        <p>Mi Historial</p>
    </section>
    <section class="history__navbar">
        <a href="#" class="history__nav is-active" data-block=".detailBlock">Informe detallado</a>
        <a href="#" class="history__nav" data-block=".freespinsBlock">Freespins</a>
        <a href="#" class="history__nav" data-block=".movementsBlock">Depósitos y retiradas</a>
        <a href="#" class="history__nav" data-block=".annualBlock">Resumen anual</a>
        <a href="#" class="history__nav" data-block=".bondsBlock">Bonos</a>
        <a href="#" class="history__nav" data-block=".slotsBlock">Slots</a>
    </section>
    
    <section class="history__content">
        <main class="detailBlock block history__grid active-block">
            <section class="history__finder detail">
                <p class="user__card-title" >Informe detallado</p>
                <div class="history__filter user__card">
                    <div class="history__content">
                        <p>Consulta el historial de los informes</p>
                        <p>Puedes consultar el historial que te interesa con los filtros que presenta el siguiente formulario de búsqueda</p>
                    </div>
                    <form action="">
                        <input id="day" name="day" type="hidden" value="" maxlength="2">
                        <input name="month" id="month" type="hidden" value="">
                        <input id="year" name="year" type="hidden" value="" maxlength="4">
                        <input id="day_end" name="day_end" type="hidden" value="" maxlength="2">
                        <input name="month_end" id="month_end" type="hidden" value="">
                        <input id="year_end" name="year_end" type="hidden" value="" maxlength="4">
                        <input type="hidden" value="1" name="page">
                        <input type="hidden" value="1" name="last_page">
                        <input type="hidden" value="0" name="balance_type">
                        <input type="hidden" value="0" name="serviceId">
                        <input type="hidden" value="0" name="roomId">
                        <div class="history__inputs">
                            <input class="input__date" type="text" name="" id="startDate" placeholder="Fecha de Inicio">
                            <input class="input__date" type="text" name="" id="endDate" placeholder="Fecha de fin" readonly>
                            <select name="" id="">
                                <option value="" disabled selected>Estado</option>
                            </select>
                            <select name="" id="">
                                <option value="" disabled selected>Ítems por página</option>
                            </select>
                        </div>
                        <div class="history__submit">
                            <button class="btn__blue btn__icons btn__fontSm" type="submit">
                                <img src="img/user/icon/icon-history-search-cyan.svg" alt="">
                                <span>SOLICITAR INFORME</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="history__activity">
                <p class="user__card-title">Informe de actividad</p>
                <div class="table__wrapper ">
                    <table class="table user__card" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th scope="col" class="table__head">Fecha</th>
                                <th scope="col" class="table__head">Tipo</th>
                                <th scope="col" class="table__head">Identificador</th>
                                <th scope="col" class="table__head">Operación</th>
                                <th scope="col" class="table__head">Cuenta</th>
                                <th scope="col" class="table__head">Cantidad</th>
                                <th scope="col" class="table__head">Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="table__td">694517</th>
                                <td class="table__td">Canjeado</td>
                                <td class="table__td">Apuestas deportivas - SportnCo</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">0</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">694517</th>
                                <td class="table__td">Canjeado</td>
                                <td class="table__td">Apuestas deportivas - SportnCo</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">0</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">694517</th>
                                <td class="table__td">Canjeado</td>
                                <td class="table__td">Apuestas deportivas - SportnCo</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">0</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">694517</th>
                                <td class="table__td">Canjeado</td>
                                <td class="table__td">Apuestas deportivas - SportnCo</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="paginator">
                    <ul>
                        <li><a class="paginator__arrow--prev" id="rePage" href="#"><</a></li>
                        <li><a class="paginator__btn" href="#">1</a></li>
                        <li><a class="paginator__btn" id="r1"  href="#">2</a></li>
                        <li><a class="paginator__btn" href="#">3</a></li>
                        <li><a class="paginator__btn" href="#">4</a></li>
                        <li><a class="paginator__btn" href="#">5</a></li>
                        <li><a class="paginator__arrow--next"  id="avPage"  href="#">></a></li>
                    </ul>
                </div>
            </section>
        </main>
        <main class="freespinsBlock block history__grid">
            <section class="history__finder freespins">
                <p class="user__card-title" >Freespins</p>
                <div class="history__filter user__card">
                    <div class="history__content">
                        <p>Consulta el historial de Freespins</p>
                        <p>Puedes consultar el historial que te interesa con los filtros que presenta el siguiente formulario de búsqueda</p>
                    </div>
                    <form action="">
                        <div class="history__inputs">
                            <input class="input__date" type="text" name="" id="startDate" placeholder="Fecha de Inicio">
                            <input class="input__date" type="text" name="" id="endDate" placeholder="Fecha de fin" readonly>
                            <select name="" id="">
                                <option value="" disabled selected>Estado</option>
                            </select>
                            <select name="" id="">
                                <option value="" disabled selected>Ítems por página</option>
                            </select>
                        </div>
                        <div class="history__submit">
                            <button class="btn__blue btn__icons btn__fontSm" type="submit">
                                <img src="img/user/icon/icon-history-search-cyan.svg" alt="">
                                <span>SOLICITAR INFORME</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="history__activity">
                <p class="user__card-title">Informe de actividad</p>
                <div class="table__wrapper">
                    <table class="table user__card" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th scope="col" class="table__head">Id</th>
                                <th scope="col" class="table__head">Estado</th>
                                <th scope="col" class="table__head">Sala</th>
                                <th scope="col" class="table__head">Creación</th>
                                <th scope="col" class="table__head">Expiración</th>
                                <th scope="col" class="table__head">Conversión</th>
                                <th scope="col" class="table__head">Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="table__td">694517</th>
                                <td class="table__td">Canjeado</td>
                                <td class="table__td">Apuestas deportivas - SportnCo</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">0</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">694517</th>
                                <td class="table__td">Canjeado</td>
                                <td class="table__td">Apuestas deportivas - SportnCo</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">0</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">694517</th>
                                <td class="table__td">Canjeado</td>
                                <td class="table__td">Apuestas deportivas - SportnCo</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">0</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">694517</th>
                                <td class="table__td">Canjeado</td>
                                <td class="table__td">Apuestas deportivas - SportnCo</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">04/03/2022 12:20:14</td>
                                <td class="table__td">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
        <main class="movementsBlock block history__grid">
            <section class="history__finder movements">
                <p class="user__card-title">Depósitos y retiradas</p>
                <div class="history__filter user__card">
                    <div class="history__content">
                        <p>Consulta el historial de los depósitos y retiradas</p>
                        <p>Puedes consultar el historial que te interesa con los filtros que presenta el siguiente formulario de búsqueda</p>
                    </div>
                    <form action="">
                        <div class="history__inputs">
                            <input class="input__date" type="text" name="" id="startDate" placeholder="Fecha de Inicio">
                            <input class="input__date" type="text" name="" id="endDate" placeholder="Fecha de fin" readonly>
                            <select name="" id="">
                                <option value="" disabled selected>Estado</option>
                            </select>
                            <select name="" id="">
                                <option value="" disabled selected>Ítems por página</option>
                            </select>
                        </div>
                        <div class="history__submit">
                            <button class="btn__blue btn__icons btn__fontSm" type="submit">
                                <img src="img/user/icon/icon-history-search-cyan.svg" alt="">
                                <span>SOLICITAR INFORME</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="history__activity">
                <p class="user__card-title">Informe de actividad</p>
                <div class="table__wrapper">
                    <table class="table user__card" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th scope="col" class="table__head">Id</th>
                                <th scope="col" class="table__head">Fecha</th>
                                <th scope="col" class="table__head">Tipo</th>
                                <th scope="col" class="table__head">Método</th>
                                <th scope="col" class="table__head">Cantidad</th>
                                <th scope="col" class="table__head">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="table__td">694517</th>
                                <td class="table__td">Canjeado</td>
                                <td class="table__td">Apuestas deportivas - SportnCo</td>
                                <td class="table__td">Lorem</td>
                                <td class="table__td">3</td>
                                <td class="table__td">o autem et!</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">694517</th>
                                <td class="table__td">Canjeado</td>
                                <td class="table__td">Apuestas deportivas - SportnCo</td>
                                <td class="table__td">Lorem</td>
                                <td class="table__td">3</td>
                                <td class="table__td">o autem et!</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">694517</th>
                                <td class="table__td">Canjeado</td>
                                <td class="table__td">Apuestas deportivas - SportnCo</td>
                                <td class="table__td">Lorem</td>
                                <td class="table__td">3</td>
                                <td class="table__td">L autem et!</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">694517</th>
                                <td class="table__td">Canjeado</td>
                                <td class="table__td">Apuestas deportivas - SportnCo</td>
                                <td class="table__td">Lorem</td>
                                <td class="table__td">3</td>
                                <td class="table__td">o autem et!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
        <main class="annualBlock block history__grid">
            <section class="history__finder annual">
                <p class="user__card-title" >Resumen anual</p>
                <div class="history__filter user__card">
                    <div class="history__content">
                        <p>Consulta el historial del resumen anual</p>
                        <p>Puedes consultar el historial que te interesa con los filtros que presenta el siguiente formulario de búsqueda</p>
                    </div>
                    <form action="">
                        <div class="history__inputs">
                            <input class="input__date" type="text" name="" id="startDate" placeholder="Fecha de Inicio">
                            <input class="input__date" type="text" name="" id="endDate" placeholder="Fecha de fin" readonly>
                            <select name="" id="">
                                <option value="" disabled selected>Estado</option>
                            </select>
                            <select name="" id="">
                                <option value="" disabled selected>Ítems por página</option>
                            </select>
                        </div>
                        <div class="history__submit">
                            <button class="btn__blue btn__icons btn__fontSm" type="submit">
                                <img src="img/user/icon/icon-history-search-cyan.svg" alt="">
                                <span>SOLICITAR INFORME</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="history__activity">
                <p class="user__card-title">Informe de actividad</p>
                <div class="table__wrapper">
                    <table class="table user__card" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th scope="col" class="table__head">Año</th>
                                <th scope="col" class="table__head">Balance Inicial</th>
                                <th scope="col" class="table__head">Balance Final</th>
                                <th scope="col" class="table__head">Depósitos</th>
                                <th scope="col" class="table__head">Retiradas</th>
                                <th scope="col" class="table__head">Apuestas</th>
                                <th scope="col" class="table__head">Ganancias</th>
                                <th scope="col" class="table__head">Bonos</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="table__td">2019</th>
                                <td class="table__td">30€</td>
                                <td class="table__td">140€</td>
                                <td class="table__td">200€</td>
                                <td class="table__td">100€</td>
                                <td class="table__td">540€</td>
                                <td class="table__td">230€</td>
                                <td class="table__td">5</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">2019</th>
                                <td class="table__td">30€</td>
                                <td class="table__td">140€</td>
                                <td class="table__td">200€</td>
                                <td class="table__td">100€</td>
                                <td class="table__td">540€</td>
                                <td class="table__td">230€</td>
                                <td class="table__td">5</td>
                            </tr> 
                            <tr>
                                <th scope="row" class="table__td">2019</th>
                                <td class="table__td">30€</td>
                                <td class="table__td">140€</td>
                                <td class="table__td">200€</td>
                                <td class="table__td">100€</td>
                                <td class="table__td">540€</td>
                                <td class="table__td">230€</td>
                                <td class="table__td">5</td>
                            </tr> 
                            <tr>
                                <th scope="row" class="table__td">2019</th>
                                <td class="table__td">30€</td>
                                <td class="table__td">140€</td>
                                <td class="table__td">200€</td>
                                <td class="table__td">100€</td>
                                <td class="table__td">540€</td>
                                <td class="table__td">230€</td>
                                <td class="table__td">5</td>
                            </tr> 
                            <tr>
                                <th scope="row" class="table__td">2019</th>
                                <td class="table__td">30€</td>
                                <td class="table__td">140€</td>
                                <td class="table__td">200€</td>
                                <td class="table__td">100€</td>
                                <td class="table__td">540€</td>
                                <td class="table__td">230€</td>
                                <td class="table__td">5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="history__download-wrapper">
                    <a href="https://www.casinobarcelona.es/servlet/YearlySummaryFile?year=$year" target="_blank" class="download__btn btn__blue">DESCARGAR</a>
                </div>
            </section>
        </main>
        <main class="bondsBlock block">
            <section class="history__activity">
                <p class="user__card-title">Informe de actividad</p>
                <div class="table__wrapper">
                    <table class="table user__card" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th scope="col" class="table__head">Fecha</th>
                                <th scope="col" class="table__head">Bono</th>
                                <th scope="col" class="table__head">Tipo</th>
                                <th scope="col" class="table__head">Valor</th>
                                <th scope="col" class="table__head">Cantidad convertida</th>
                                <th scope="col" class="table__head">Política aceptada</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="table__td">04/03/2022 12:20:14</th>
                                <td class="table__td">Test_ID_Cupon4</td>
                                <td class="table__td">Código</td>
                                <td class="table__td">1.00€</td>
                                <td class="table__td">0.00€</td>
                                <td class="table__td"><a>Ver política de bono</a></td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">04/03/2022 12:20:14</th>
                                <td class="table__td">Test_ID_Cupon4</td>
                                <td class="table__td">Código</td>
                                <td class="table__td">1.00€</td>
                                <td class="table__td">0.00€</td>
                                <td class="table__td"><a>Ver política de bono</a></td>
                            </tr> 
                            <tr>
                                <th scope="row" class="table__td">04/03/2022 12:20:14</th>
                                <td class="table__td">Test_ID_Cupon4</td>
                                <td class="table__td">Código</td>
                                <td class="table__td">1.00€</td>
                                <td class="table__td">0.00€</td>
                                <td class="table__td"><a>Ver política de bono</a></td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">04/03/2022 12:20:14</th>
                                <td class="table__td">Test_ID_Cupon4</td>
                                <td class="table__td">Código</td>
                                <td class="table__td">1.00€</td>
                                <td class="table__td">0.00€</td>
                                <td class="table__td"><a>Ver política de bono</a></td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">04/03/2022 12:20:14</th>
                                <td class="table__td">Test_ID_Cupon4</td>
                                <td class="table__td">Código</td>
                                <td class="table__td">1.00€</td>
                                <td class="table__td">0.00€</td>
                                <td class="table__td"><a>Ver política de bono</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
        <main class="slotsBlock block history__grid">
            <section class="history__finder slotsHistory">
                <p class="user__card-title" >Slots</p>
                <div class="history__filter user__card">
                    <div class="history__content">
                        <p>Consulta el historial de tus slots</p>
                        <p>Puedes consultar el historial que te interesa con los filtros que presenta el siguiente formulario de búsqueda</p>
                    </div>
                    <form action="">
                        <div class="history__inputs">
                            <input class="input__date" type="text" name="" id="startDate" placeholder="Fecha de Inicio">
                            <input class="input__date" type="text" name="" id="endDate" placeholder="Fecha de fin" readonly>
                            <select name="" id="">
                                <option value="" disabled selected>Estado</option>
                            </select>
                            <select name="" id="">
                                <option value="" disabled selected>Ítems por página</option>
                            </select>
                        </div>
                        <div class="history__submit">
                            <button class="btn__blue btn__icons btn__fontSm" type="submit">
                                <img src="img/user/icon/icon-history-search-cyan.svg" alt="">
                                <span>SOLICITAR INFORME</span>
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="history__activity">
                <p class="user__card-title">Informe de actividad</p>
                <div class="table__wrapper">
                    <table class="table user__card" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th scope="col" class="table__head">Fecha inicio</th>
                                <th scope="col" class="table__head">Fecha fin</th>
                                <th scope="col" class="table__head">Apuestas</th>
                                <th scope="col" class="table__head">Premios</th>
                                <th scope="col" class="table__head">Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="table__td">04/03/2022 12:20:14</th>
                                <td class="table__td">04/07/2022 12:20:14</td>
                                <td class="table__td">200€</td>
                                <td class="table__td">100€</td>
                                <td class="table__td">100€</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">04/03/2022 12:20:14</th>
                                <td class="table__td">04/07/2022 12:20:14</td>
                                <td class="table__td">200€</td>
                                <td class="table__td">100€</td>
                                <td class="table__td">100€</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">04/03/2022 12:20:14</th>
                                <td class="table__td">04/07/2022 12:20:14</td>
                                <td class="table__td">200€</td>
                                <td class="table__td">100€</td>
                                <td class="table__td">100€</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">04/03/2022 12:20:14</th>
                                <td class="table__td">04/07/2022 12:20:14</td>
                                <td class="table__td">200€</td>
                                <td class="table__td">100€</td>
                                <td class="table__td">100€</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">04/03/2022 12:20:14</th>
                                <td class="table__td">04/07/2022 12:20:14</td>
                                <td class="table__td">200€</td>
                                <td class="table__td">100€</td>
                                <td class="table__td">100€</td>
                            </tr>
                            <tr>
                                <th scope="row" class="table__td">04/03/2022 12:20:14</th>
                                <td class="table__td">04/07/2022 12:20:14</td>
                                <td class="table__td">200€</td>
                                <td class="table__td">100€</td>
                                <td class="table__td">100€</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
    </section>
</main>

