<section class="withdraw__wrapper">
    <p class="withdraw__title">Retirar</p>
    <div class="withdraw__grid">
        <div class="withdraw__item" data-url="/mpu-payout-skrill">
            <img src="img/user/logo/logo-retirar-skrill.png" alt="">
        </div>
        <div class="withdraw__item" data-url="/mpu-payout-paypal">
            <img src="img/user/logo/logo-retirar-paypal.png" alt="">
        </div>
        <div class="withdraw__item" data-url="/mpu-payout-debit">
            <img src="img/user/logo/logo-retirar-visa.png" alt="">
        </div>
        <div class="withdraw__item" data-url="/mpu-payout-transfer">
            <img src="img/user/logo/logo-retirar-transferencia.png" alt="">
        </div>
        <div class="withdraw__item" data-url="/mpu-payout-paysafe">
            <img src="img/user/logo/logo-retirar-paysafe.png" alt="">
        </div>
        <div class="withdraw__item" data-url="/mpu-payout-neteller">
            <img src="img/user/logo/logo-retirar-neteller.png" alt="">
        </div>
        <div class="withdraw__item">
            <img src="img/user/icon/icon-withdraw-alert.svg">
            <div class="withdraw__info--block">
                <p>Solo puedes solicitar una retirada a la vez. Las retiradas deben ser aprobadas y revisadas por nuestro departamento de control de riesgo. </p>
                <p>Por favor, ten en cuenta que los bonos obtenidos por dep칩sitos o de ofertas especiales ser치n autom치ticamente eliminados al solicitar una retirada. Si cancelas la retirada, se te devolver치n tus bonos.</p>
            </div>
        </div>
    </div>

</section>
